$color-primary: #ff5733;
$color-secondary: #4ECCA3;
$color-tertiary: #F1F3F8;
$color-text: #333;
$color-text-light: #c2c2c2;
$text-color-active: #fff; 
$background-price: #ebebeb;
$background:#f7f7f7;

$font-primary: 'Open Sans', sans-serif;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
