.projects-section {
    padding: px-to-rem(60) 0;
    background-color: $background;
  
    .container {
      max-width: px-to-rem(1200);
      margin: 0 auto;
      padding: px-to-rem(40);
      background-color: #fff;
      border-radius: px-to-rem(20) px-to-rem(20) 0 0;
      box-shadow: 0px px-to-rem(4) px-to-rem(8) rgba(0, 0, 0, 0.1);
      text-align: center;
  
      .projects-title {
        margin-bottom: px-to-rem(20);
        font-size: px-to-rem(36);
        color: $color-primary;
      }
  
      .projects-description {
        margin-bottom: px-to-rem(30);
        color: $color-text;
      }
  
      .filter-buttons {
        margin-bottom: px-to-rem(30);
        font-size: px-to-rem(14);
  
        .filter-btn {
          color: $color-text;
          background-color: transparent;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s ease;
          padding: px-to-rem(5);
  
          &:hover, &.active {
            background-color: $color-primary;
            color: $text-color-active;
            border-radius: px-to-rem(5);
          }
        }
      }
  
      .projects-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: px-to-rem(20);
  
        .project-item {
          transition: transform 0.3s ease;
  
          img {
            max-width: 100%;
            height: auto;
            transition: transform 0.3s ease;
          }
  
          &:hover {
            transform: translateY(-px-to-rem(10));
            
            img {
              transform: scale(1.02);
            }
          }
        }
      }
    }
  }